<body>
  <header>
      <div class="header-area">
        <div class="content">
          <div class="top-area">
            <div class="top-left">
              <p><strong>Toyota Exclusiva Drive</strong> - Alquila un Toyota chofer usándonos - Tel: 34 678 42 95 13</p>
            </div>
              <div class="top-right">
              <ul>
                <li><p>Nosotros</p></li>
                <li><p>Precios</p></li>
                <li><p>Contacto</p></li>
              </ul>
            </div>
        </div>
        
        <div class="header-content">
          <div class="logo">
            <a><img src="img/logoToyota.png" width="50" height="75" alt="logoToyota"></a>
          </div>
          <div class="header-icons">
            <div class="top-right-button">
            <button>Reserva ahora</button>
            </div>
            <div class="header-icons-inner">
              <div class="icon">
                <p>
                  <i class="fa fa-check-square-o" aria-hidden="true"></i>
                  <strong>Chofer profesional</strong>
                </p>
                <p>Con experiencia</p>
              </div>
              <div class="icon">
                <p>
                  <i class="fa fa-check-square-o" aria-hidden="true"></i>
                  <strong>Traslados privados</strong>
                </p>
                <p>Discresión y lujo</p>
              </div>
            </div>
          </div>
          <nav class="navegacion-wrapper">
            <div class="navegation">
              <ul>
                <li class="menu-item-padre">Chófer de lujo</li>
                <li class="menu-item-padre"></li>
                <li class="menu-item"></li>
                <li class="menu-item"></li>
                <li class="menu-item"></li>
                <li class="menu-item"></li>
                <li class="menu-item"></li>
              </ul>
            </div>
          </nav>
        </div>
      </div>
    </div>
  </header>
  <article>
    <div class="content">
      <main class="main">
        <div class="content">
          <h1>Proyecto CRM - Toyota</h1>

          <h2>Inicia sesión para ver los detalles de tu cuenta</h2>
          <p>Consulta el historial de viajes, sugerencias personalizadas, recursos de ayuda y mucho más.</p>

          <div>
            <a>Inicia sesion</a>
          </div>

          <div>
            <a>Crea una cuenta</a> 
          </div>
        </div>
      </main>
    </div>
  </article>
  <footer>
    <div class="block">
        <a><img src="img/logoToyota.png" width="50" height="75" alt="logoToyota"></a>
    </div>
    <div class="block">
        <p>Cómo funcionan la app y el sitio web de Toyota</p>
    </div>

    <div class="block">
        <div class="content">
          <div>Modelos</div>
          <ul>
            <li>Aygo X Cross</li>
            <li>Yaris</li>
            <li>GR Yaris</li>
            <li>Yaris Cross</li>
            <li>Corolla</li>
            <li>Corolla Sedan</li>
            <li>Corolla Touring Sports</li>
            <li>Toyota C-HR</li>
            <li>Corolla Cross</li>
            <li>RAV4</li>
            <li>bZ4X</li>
            <li>RAV4 Plug-in</li>
            <li>Mirai</li>
            <li>Land Crusier</li>
            <li>Hilux</li>
            <li>Proace City Verso</li>
            <li>Proace Verso</li>
            <li>Proace City</li>
            <li>Proace Max</li>
            <li>Proace</li>
            <li>GR Supra</li>
            <li>Promociones</li>
            <li>Catálogos y precios</li>
          </ul>
        </div>
        <div class="content">
          <li><button>Mis servicios</button></li>
          <li>Preguntas frecuentes</li>
        </div>
    </div>
  </footer>
</body>