<body>
  <header>
    <div class="content">
      <nav class="header-navigation">
        <a><img src="img/logoToyota.png" width="50" height="75" alt="logoToyota"></a>
        <div class="block">
          <div class="registro">
            <ul><button>Buscar</button></ul>
          </div>
      </div>
      </nav>
    </div>
  </header>
  <article>
    <div class="content">
      <main class="main">
        <div class="content">
          <h1>Proyecto CRM - Toyota</h1>

          <h2>Inicia sesión para ver los detalles de tu cuenta</h2>
          <p>Consulta el historial de viajes, sugerencias personalizadas, recursos de ayuda y mucho más.</p>

          <div>
            <a>Inicia sesion</a>
          </div>

          <div>
            <a>Crea una cuenta</a> 
          </div>
        </div>
      </main>
    </div>
  </article>
  <footer>
    <div class="block">
        <a><img src="img/logoToyota.png" width="50" height="75" alt="logoToyota"></a>
    </div>
    <div class="block">
        <p>Cómo funcionan la app y el sitio web de Toyota</p>
    </div>

    <div class="block">
        <div class="content">
          <div>Modelos</div>
          <ul>
            <li>Aygo X Cross</li>
            <li>Yaris</li>
            <li>GR Yaris</li>
            <li>Yaris Cross</li>
            <li>Corolla</li>
            <li>Corolla Sedan</li>
            <li>Corolla Touring Sports</li>
            <li>Toyota C-HR</li>
            <li>Corolla Cross</li>
            <li>RAV4</li>
            <li>bZ4X</li>
            <li>RAV4 Plug-in</li>
            <li>Mirai</li>
            <li>Land Crusier</li>
            <li>Hilux</li>
            <li>Proace City Verso</li>
            <li>Proace Verso</li>
            <li>Proace City</li>
            <li>Proace Max</li>
            <li>Proace</li>
            <li>GR Supra</li>
            <li>Promociones</li>
            <li>Catálogos y precios</li>
          </ul>
        </div>
        <div class="content">
          <li><button>Mis servicios</button></li>
          <li>Preguntas frecuentes</li>
        </div>
    </div>
  </footer>
</body>